.bar {
  fill: orange;
}

.axis text {
  font: 15px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: true;
}

.label {
  text-anchor: middle;
  font: 20px helvetica;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.barlabel {
  fill: white;
  font: 14px sans-serif;
  text-anchor: middle;
}