#map, svg { 
  position: relative;
  width: 750px;
  height: 900px;
}

.hex {
  fill: steelblue;
}

.top-buffer{
  margin-top: 20px;
}

path.hex {
  /* stroke: white; 
  stroke-width: 1px; */
  fill-opacity: 0.5;
}
