body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 960px;
}

tspan {
  font: 12px sans-serif;
}

.slices {
  opacity: 0.85;
}

.slices:hover {
  opacity: 1;
}