.bar {
  fill: #499bdd;
  clip-path: url(#clip); /* clip bar with rectangle */
}

.avgLine {
  fill: none;
  stroke: #73000A;
  stroke-width: 2px;
  clip-path: url(#clip); /* clip line with rectangle */
}

/* HTML table */
table {
  width: 600px;
  border-collapse: collapse;
  margin: 0px auto;
}
/* Zebra striping */
tr:nth-of-type(odd) {
  background: whitesmoke;
}
tr:nth-of-type(even) {
  background: rgb(173, 146, 55);
}
th {
  background: rgb(50, 12, 116);
  color: white;
  font-weight: bold;
  cursor: s-resize;
  background-repeat: no-repeat;
  background-position: 3% center;
}
td, th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}