body {
    font-family: 'Poppins', sans-serif;
}

.text-overlay {
    text-anchor: start;
}

.background-shadow-effect {
    fill: none;
    stroke: #fff;
    stroke-width: 20;
}

.stroke-width-42 {
    stroke-width: 42;    
}
