.label {
  font-size: 18px;
}

.tile {
  shape-rendering: crispEdges;
  stroke: white;
  stroke-width: 1px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis .tick text {
  font-size: 1.5em;
}
