svg {
  font: 10px sans-serif;
  padding: 10px;
  position: relative;
}

.axis, .frame {
  shape-rendering: crispEdges;
}

.axis line {
  stroke: #ddd;
}

.axis path {
  display: none;
}

.cell text {
  font-weight: bold;
  text-transform: capitalize;
  fill: black;
}

.frame {
  fill: none;
  stroke: #aaa;
}

.prepost {
  fill: none;
  stroke: rgb(187, 243, 57);
  stroke-width: 3px;
  clip-path: url(#clip);
}

.event {
  fill: none;
  stroke: royalblue;
  stroke-width: 3px;
  clip-path: url(#clip);
}

.xlabel, .ylabel {
  text-anchor: middle;
}

/* Map */
@import url("https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.css");

#gmap, #mapbox { 
  width: 800px;
  height: 300px;
  position: absolute;
  top: 650;
}

.host, .evt, .remote {
  fill: none;
  stroke-width: 4px;
}

.host {
  stroke: rgb(187, 243, 57);
}

.host.evt {
  stroke: royalblue;
}

.remote {
  stroke: rgb(243, 169, 57);
}

.remote.evt {
  stroke: red;
}

.legendBkgd {
  fill: lightblue;
  fill-opacity: 0.6;
}

.legend.hidden {
  opacity: 0.2;
}
