body {
  font-family: Helvetica;
  font-size: 16px;
}
ol li {
  margin-bottom: 10px;
}
li.highlight {
  background: yellow;
}
path {
  fill: none;
  stroke: #999;
}
path.init {
  stroke-width: 2;
}
path.piece {
  stroke-width: 24;
  stroke: none;
}
line.sep {
  stroke-width: 0;
  stroke: white;
}