body {
  font: 14px sans-serif;
}

.label {
  font-size: 18px;
}

.tile {
  shape-rendering: crispEdges;
  stroke: white;
  stroke-width: 1px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}